[submodule "src/memcached"]
	path = src/memcached
	url = https://github.com/memcached/memcached.git
[submodule "src/bcc"]
	path = src/bcc
	url = https://github.com/dalehamel/bcc.git
[submodule "src/bpftrace"]
	path = src/bpftrace
	url = https://github.com/iovisor/bpftrace.git
