[submodule "src/memcached"]
	path = src/memcached
	url = https://github.com/memcached/memcached.git
[submodule "src/bcc"]
	path = src/bcc
	url = https://github.com/dalehamel/bcc.git
[submodule "src/bpftrace"]
	path = src/bpftrace
	url = https://github.com/iovisor/bpftrace.git
[submodule "src/mctop"]
	path = src/mctop
	url = https://github.com/etsy/mctop.git
[submodule "src/bpf-perf-tools-book"]
	path = src/bpf-perf-tools-book
	url = https://github.com/brendangregg/bpf-perf-tools-book
[submodule "src/linux"]
	path = src/linux
	url = https://github.com/torvalds/linux
